<main>
  <div>
    <label for="name">Item Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
    <br />
    <label for="quantity">Quantity: </label>
    <input type="number" id="quantity" [(ngModel)]="quantity" />
    <br />
    <button (click)="add()">Add to inventory</button>
  </div>
  <div>
    
    @if( inventoryList.length === 0){
   
    }@else{
    <ol>
      @for( inventory of inventoryList; track $index){
      <li [style.marginBottom]="'20px'">
        Item Name: {{ inventory.name }} <br />
        Quantity: {{ inventory.quantity }}
      </li>
      }
    </ol>
    }
  </div>
</main>
